<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Add Content</h4>
        <p class="card-category">You can build your own article here</p>
      </div>
      <div class="card-body">
        <form
        [formGroup]="form"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

          <div class="row">
            <div class="col-md-4">
                  <input
                  type="file"
                  formControlName="post_image"
                  id="image"
                  class="form-control"
                  (change)="onImageSelected($event)"
                 />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Post Title</label>
                <input formControlName="post_title" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Post Content</label>
                <div class="form-group">
                  <label class="bmd-label-floating">You can edit the content of your post here</label>
                  <textarea formControlName="post_content" id="contentcreate"></textarea>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


