<div class="container-fluid adjustment">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Manage Password</h4>
          <p class="card-category">Change your password here</p>
        </div>
        <div class="card-body">
          <form
            [formGroup]="form_password"
            #f="ngForm"
            (ngSubmit)="onSubmit_pass(f)"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Current Password</label>
                  <input
                    type="password"
                    formControlName="password_old"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">New Password</label>
                  <input
                    type="email"
                    formControlName="password_new"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Confirm Password</label>
                  <input
                    type="password"
                    formControlName="password_new_confirm"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right">
              Submit
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Update Profile</h4>
          <p class="card-category">Change your profile picture here</p>
        </div>
        <div class="card-body">
          <form
            [formGroup]="form_password"
            #f="ngForm"
            (ngSubmit)="onSubmit_image(f)"
          >
            <div class="row">
              <div class="col-md-4">
                <div class="custom-file">
                  <input
                    type="file"
                    formControlName="image"
                    id="image"
                    class="form-control"
                    (change)="onImageSelected($event)"
                  />
                </div>
              </div>
            </div>
          </form>
          <button type="submit" class="btn btn-primary pull-right">
            Update
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
