<div
  class="wrapper"
  style="
    background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2047&q=80');
  "
>
  <div class="inner">
    <div class="image-holder">
      <img
        src="https://images.unsplash.com/photo-1580414057403-c5f451f30e1c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80"
        alt=""
      />
    </div>
    <form
      [formGroup]="form"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="google-sheet"
    >
      <h3 style="color: black">Registration Form</h3>
      <div class="form-wrapper">
        <input
          type="text"
          placeholder="Last Name"
          name="LastName"
          formControlName="last_name"
          class="form-control"
        />
        <i class="zmdi zmdi-account"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="text"
          placeholder="First Name"
          name="FirstName"
          formControlName="first_name"
          class="form-control"
        />
        <i class="zmdi zmdi-account"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="text"
          placeholder="Middle Name"
          name="MiddleName"
          formControlName="middle_name"
          class="form-control"
        />
        <i class="zmdi zmdi-account"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="number"
          placeholder="Student Number"
          name="StudentNumber"
          formControlName="student_number"
          class="form-control"
        />
        <i class="zmdi zmdi-account"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="email"
          placeholder="UST Email"
          name="UstEmail"
          formControlName="ust_email"
          class="form-control"
        />
        <i class="zmdi zmdi-email"></i>
      </div>
      <span style="color: black !important; font-size: 14px"
        >Click the box below to choose your role</span
      >
      <div class="form-wrapper">
        <select name="Role" formControlName="role" class="form-control">
          <option value="Member" selected>Member</option>
          <option value="Officer">Officer</option>
        </select>
        <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
      </div>
      <button [disabled]="f.invalid || isSubmitted" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
