<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Add Account</h4>
        <p class="card-category">Add an account</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Last Name</label>
                <input type="text" class="form-control" required
                ngModel name="name_last" id="name_last">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">First Name</label>
                <input type="text" class="form-control" required
                ngModel name="name_first" id="name_first">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Middle Name</label>
                <input type="text" class="form-control" required
                ngModel name="name_middle" id="name_middle">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">UST Email</label>
                <input type="email" class="form-control"id="ust_email" ngModel name="ust_email">
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary pull-right">Submit</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  </div>
